.df {
  display: flex !important;
}

.flex {
  flex: 1 !important;
}

.fdc {
  flex-direction: column !important;
}

.aic {
  align-items: center !important;
}

.jcsb {
  justify-content: space-between !important;
}

.jcc {
  justify-content: center !important;
}

.jcfs {
  justify-content: flex-start !important;
}

.jcfe {
  justify-content: flex-end !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.fixed {
  position: fixed !important;
}

.sticky {
  position: sticky !important;
  top: 0;
}

.colorPrimary {
  color: var(--primary) !important;
}

.colorSecondary {
  color: var(--secondary) !important;
}

.bgPrimary {
  background-color: var(--primary) !important;
}

.bgSecondary {
  background-color: var(--secondary) !important;
}

.textSecondary {
  color: var(--textSecondary) !important;
}

.textPrimary {
  color: var(--textPrimary) !important;
}

.textOpposite {
  color: var(--textOpposite) !important;
}

.dn {
  display: none !important;
}

.tac {
  text-align: center !important;
}

.cup {
  cursor: pointer !important;
}

.border {
  border: 1px solid black !important;
}

.borderPrimary {
  border-color: var(--primary);
}

.borderSecondary {
  border-color: var(--secondary);
}

.bgWhite {
  background-color: white !important;
}

.bgBlack {
  background-color: black !important;
}

.iconWhite {
  svg {
    color: white !important;
  }
}

.iconBlack {
  svg {
    color: black !important;
  }
}

.iconPrimary {
  svg {
    color: var(--primary) !important;
  }
}

.iconSecondary {
  svg {
    color: var(--secondary) !important;
  }
}

@for $i from 0 through 1000 {
  .m-#{$i}px {
    margin: #{$i}px !important;
  }
  .ml-#{$i}px {
    margin-left: #{$i}px !important;
  }
  .mr-#{$i}px {
    margin-right: #{$i}px !important;
  }
  .mt-#{$i}px {
    margin-top: #{$i}px !important;
  }
  .mb-#{$i}px {
    margin-bottom: #{$i}px !important;
  }
  .mx-#{$i}px {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }
  .my-#{$i}px {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
  }

  .p-#{$i}px {
    padding: #{$i}px !important;
  }
  .pl-#{$i}px {
    padding-left: #{$i}px !important;
  }
  .pr-#{$i}px {
    padding-right: #{$i}px !important;
  }
  .pt-#{$i}px {
    padding-top: #{$i}px !important;
  }
  .pb-#{$i}px {
    padding-bottom: #{$i}px !important;
  }
  .px-#{$i}px {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }
  .py-#{$i}px {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }

  .w-#{$i}px {
    width: #{$i}px !important;
  }
  .h-#{$i}px {
    height: #{$i}px !important;
  }

  .maxw-#{$i}px {
    max-width: #{$i}px !important;
  }
  .maxh-#{$i}px {
    max-height: #{$i}px !important;
  }
  .minw-#{$i}px {
    min-width: #{$i}px !important;
  }
  .minh-#{$i}px {
    min-height: #{$i}px !important;
  }

  .top-#{$i}px {
    top: #{$i}px !important;
  }
  .bottom-#{$i}px {
    bottom: #{$i}px !important;
  }
  .left-#{$i}px {
    left: #{$i}px !important;
  }
  .right-#{$i}px {
    right: #{$i}px !important;
  }
}
