// =================================== Here you can assign your favourite colors ==================================

$primary: #c39bff;
$primary: #ff77c4;
$secondary: rgb(255, 0, 76);
$primary: #7b23ff;
$primary: #ff6da5;
$secondary: rgb(255, 170, 0);
$primary: #b16dff;
$primary: #923197;
$primary: #ff6da5;
$primary: #8884ff;
$primary: rgb(255, 170, 0);
$primary: rgb(175, 82, 110);
$primary: rgb(255, 0, 76);

// ================================================================================================================

$primaryDark: darken($primary, 4%);
$primaryTooDark: darken($primary, 10%);
$primaryLight: rgba($primary, 0.2);
$primaryTooLight: rgba($primary, 0.1);

$secondaryDark: darken($secondary, 4%);
$secondaryTooDark: darken($secondary, 10%);
$secondaryLight: rgba($secondary, 0.2);
$secondaryTooLight: rgba($secondary, 0.1);

$glass: rgba(black, 0.03);
$darkGlass: rgba(black, 0.05);
$glassPrimary: rgba($primary, 0.05);
$darkGlassPrimary: rgba($primary, 0.08);
$glassSecondary: rgba($secondary, 0.05);
$darkGlassSecondary: rgba($secondary, 0.08);

:root {
  --primary: #{$primary};
  --primaryDark: #{$primaryDark};
  --primaryTooDark: #{$primaryTooDark};
  --primaryLight: #{$primaryLight};
  --primaryTooLight: #{$primaryTooLight};

  --secondary: #{$secondary};
  --secondaryDark: #{$secondaryDark};
  --secondaryTooDark: #{$secondaryTooDark};
  --secondaryLight: #{$secondaryLight};
  --secondaryTooLight: #{$secondaryTooLight};

  --background: #ffffff;
  --textPrimary: #213547;
  --textSecondary: #6a6a6a;
  --textOpposite: #ffffff;
  --baseBoxShadow: 0px 0px 10px 0px rgba(50, 27, 76, 0.2);
  --divider: rgb(232, 232, 232);

  --glass: #{$glass};
  --darkGlass: #{$darkGlass};
  --glassPrimary: #{$glassPrimary};
  --darkGlassPrimary: #{$darkGlassPrimary};
  --glassSecondary: #{$glassPrimary};
  --darkGlassSecondary: #{$darkGlassPrimary};
}

@media (prefers-color-scheme: dark) {
  $dm_primary: $primary;
  $dm_primaryDark: rgba($primary, 0.8);
  $dm_primaryTooDark: rgba($primary, 0.6);
  $dm_primaryLight: lighten($primary, 4%);
  $dm_primaryTooLight: lighten($primary, 10%);

  $dm_secondary: darken($secondary, 5%);
  $dm_secondaryDark: darken($dm_secondary, 15%);
  $dm_secondaryTooDark: darken($dm_secondary, 20%);
  $dm_secondaryLight: lighten($dm_secondary, 3%);
  $dm_secondaryTooLight: lighten($dm_secondary, 20%);

  $dm_glass: rgba(white, 0.08);
  $dm_darkGlass: rgba(white, 0.05);
  $dm_glassPrimary: rgba($primary, 0.05);
  $dm_darkGlassPrimary: rgba($primary, 0.08);
  $dm_glassSecondary: rgba($secondary, 0.05);
  $dm_darkGlassSecondary: rgba($secondary, 0.08);

  :root {
    --primary: #{$dm_primary};
    --primaryDark: #{$dm_primaryDark};
    --primaryTooDark: #{$dm_primaryTooDark};
    --primaryLight: #{$dm_primaryLight};
    --primaryTooLight: #{$dm_primaryTooLight};
    --primaryTooLight: #{$dm_primaryTooLight};

    --secondary: #{$dm_secondary};
    --secondaryDark: #{$dm_secondaryDark};
    --secondaryTooDark: #{$dm_secondaryTooDark};
    --secondaryLight: #{$dm_secondaryLight};
    --secondaryTooLight: #{$dm_primaryTooDark};

    --glass: #{$dm_glass};
    --darkGlass: #{$dm_darkGlass};
    --glassPrimary: #{$dm_glassPrimary};
    --darkGlassPrimary: #{$dm_darkGlassPrimary};
    --glassSecondary: #{$dm_glassPrimary};
    --darkGlassSecondary: #{$dm_darkGlassPrimary};

    --background: #121212;
    --textPrimary: #ffffff;
    --textSecondary: #bcbcbc;
    --textOpposite: #000000;
    --divider: rgb(45, 45, 45);
  }
}
