// @import '../../cutie-styles/variables';

.CuteLink {
  color: var(--link);
  cursor: pointer;
  font-family: var(--fontFamily);
  font-size: var(--fontSizeMedium);

  &:hover {
    text-decoration: underline;
  }
}

.CuteLink-underlined {
  text-decoration: underline;
}
