@import '../../cute-styles/normalize';
@import '../../cute-styles/variables';

.CuteIcon {
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // align-items: center;
  user-select: none;
  width: 1em;
  height: 1em;
}

.CuteIcon-small {
  font-size: 17px;
}

.CuteIcon-medium {
  font-size: 20px;
}

.CuteIcon-large {
  font-size: 25px;
}

.CuteIcon-secondary {
  color: var(--secondary);
}

.CuteIcon-neutral {
  color: var(--neutral);
}

.CuteIcon-primary {
  color: var(--primary);
}

.CuteIcon-black {
  color: black;
}

.CuteIcon-white {
  color: white;
}

.CuteIcon-text {
  color: black;
}
