@import '../../cute-styles/normalize';
@import '../../cute-styles/variables';

.CuteIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7px;
}

.CuteIcon-small {
  & > *:first-child {
    width: 17px;
    height: 17px;
  }
}

.CuteIcon-medium {
  & > *:first-child {
    width: 24px;
    height: 24px;
  }
}

.CuteIcon-large {
  & > *:first-child {
    width: 30px;
    height: 30px;
  }
}

.CuteIcon-secondary {
  & > *:first-child {
    color: var(--secondary);
  }
}

.CuteIcon-neutral {
  & > *:first-child {
    color: var(--neutral);
  }
}

.CuteIcon-primary {
  & > *:first-child {
    color: var(--primary);
  }
}

.CuteIcon-black {
  & > *:first-child {
    color: black;
  }
}

.CuteIcon-white {
  & > *:first-child {
    color: white;
  }
}

.CuteIcon-text {
  & > *:first-child {
    color: black;
  }
}
