// @import '../../cutie-styles/variables';
.CuteAlert {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  height: 45px;
  padding: 15px;
  min-width: 300px;
  -webkit-box-shadow: var(--baseBoxShadow) !important;
  box-shadow: var(--baseBoxShadow) !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
  font-family: var(--fontFamily);
  font-size: var(--fontSizeMedium);

  .CuteAlertIcon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    color: white;
  }

  .CuteIconButton {
    margin-left: auto;
    margin-right: -10px;
  }
}

.CuteAlert-topRight {
  top: 25px;
  right: 25px;
}
.CuteAlert-topLeft {
  top: 25px;
  left: 25px;
}
.CuteAlert-bottomRight {
  bottom: 25px;
  right: 25px;
}
.CuteAlert-bottomLeft {
  bottom: 25px;
  left: 25px;
}
.CuteAlert-topCenter {
  top: 25px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
.CuteAlert-bottomCenter {
  bottom: 25px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.CuteAlert-primary {
  background-color: var(--primary);
}
.CuteAlert-secondary {
  background-color: var(--secondary);
}
.CuteAlert-neutral {
  background-color: var(--neutral);
}
.CuteAlert-error {
  background-color: var(--error);
}
.CuteAlert-success {
  background-color: var(--success);
}
