// @import '../../cutie-styles/variables';

// =================================================== Sizes ===================================================

.CuteIconButton-small {
  padding: 5px;
  & > *:first-child {
    font-size: 17px;
  }
}

.CuteIconButton-medium {
  padding: 5px;
  & > *:first-child {
    font-size: 20px;
  }
}

.CuteIconButton-large {
  padding: 5px;
  & > *:first-child {
    font-size: 25px;
  }
}

// ================================================= Icon Buttons =================================================

.CuteIconButton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}

// ================================================= Primary =================================================

.CuteIconButton-primary-outlined {
  background-color: transparent;
  color: var(--textPrimary);
  border: 1px solid var(--textPrimary);

  &:hover {
    color: var(--primary);
    border: 1px solid var(--primary);
    -webkit-box-shadow: 0px 0px 0px 3px var(--glassPrimary);
    box-shadow: 0px 0px 0px 3px var(--glassPrimary);
  }
  &:active {
    -webkit-box-shadow: 0px 0px 0px 3px var(--darkGlassPrimary);
    box-shadow: 0px 0px 0px 3px var(--darkGlassPrimary);
  }
}

.CuteIconButton-primary-text {
  background-color: transparent;
  color: var(--primaryDark);
  border: 1px solid transparent;

  &:hover {
    background-color: var(--glassPrimary);
    color: var(--primaryDark);
  }

  &:active {
    background-color: var(--darkGlassPrimary);
  }
}

.CuteIconButton-primary-contained {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--primaryText);
  &:hover {
    background-color: var(--primaryDark);
    border-color: var(--primaryDark);
  }
  &:active {
    border-color: var(--primaryTooDark);
    background-color: var(--primaryTooDark);
  }
}

// ================================================= Secondary =================================================

.CuteIconButton-secondary-text {
  background-color: transparent;
  color: var(--secondary);
  border: 1px solid transparent;
  &:hover {
    background-color: var(--glassSecondary);
    color: var(--secondary);
  }

  &:active {
    background-color: var(--darkGlassSecondary);
  }
}

.CuteIconButton-secondary-contained {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--secondaryText);

  &:hover {
    background-color: var(--secondaryDark);
    border-color: var(--secondaryDark);
  }

  &:active {
    background-color: var(--secondaryTooDark);
    border-color: var(--secondaryTooDark);
  }
}

.CuteIconButton-secondary-outlined {
  color: var(--textPrimary);
  background-color: transparent;
  border: 1px solid var(--textPrimary);

  &:hover {
    background-color: transparent;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    -webkit-box-shadow: 0px 0px 0px 3px var(--glassSecondary);
    box-shadow: 0px 0px 0px 3px var(--glassSecondary);
  }
  &:active {
    -webkit-box-shadow: 0px 0px 0px 3px var(--darkGlassSecondary);
    box-shadow: 0px 0px 0px 3px var(--darkGlassSecondary);
  }
}

// ================================================= Neutral =================================================

.CuteIconButton-neutral-text {
  background-color: transparent;
  color: var(--neutral);
  border: 1px solid transparent;
  &:hover {
    background-color: var(--glassNeutral);
    color: var(--neutral);
  }

  &:active {
    background-color: var(--darkGlassNeutral);
  }
}

.CuteIconButton-neutral-contained {
  background-color: var(--neutral);
  color: var(--neutralText);
  border: 1px solid var(--neutral);

  &:hover {
    background-color: var(--neutralDark);
    border-color: var(--neutralDark);
  }

  &:active {
    background-color: var(--neutralTooDark);
    border-color: var(--neutralTooDark);
  }
}

.CuteIconButton-neutral-outlined {
  color: var(--textPrimary);
  border: 1px solid var(--textPrimary);
  background-color: transparent;

  &:hover {
    background-color: transparent;
    color: var(--neutral);
    border: 1px solid var(--neutral);
    -webkit-box-shadow: 0px 0px 0px 3px var(--glassNeutral);
    box-shadow: 0px 0px 0px 3px var(--glassNeutral);
  }
  &:active {
    -webkit-box-shadow: 0px 0px 0px 3px var(--darkGlassNeutral);
    box-shadow: 0px 0px 0px 3px var(--darkGlassNeutral);
  }
}

// ===================================================== Disabled =========================================================

.CuteIconButton-text-disabled {
  background-color: transparent !important;
  border-color: transparent !important;
  color: var(--disabled) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.CuteIconButton-outlined-disabled {
  background-color: transparent !important;
  border-color: var(--disabled) !important;
  color: var(--disabled) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.CuteIconButton-contained-disabled {
  background-color: var(--glass) !important;
  border-color: transparent !important;
  color: var(--disabled) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

// ===================================================== Black =========================================================

.CuteIconButton-black-text {
  background-color: transparent;
  color: black;
  border: 1px solid transparent;

  &:hover {
    background-color: var(--glass);
    color: black;
  }

  &:active {
    background-color: var(--darkGlass);
  }
}

.CuteIconButton-black-contained {
  background-color: black;
  color: white;
  border: 1px solid black;

  &:hover {
    color: white;
    background-color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &:active {
    background-color: black;
  }
}

.CuteIconButton-black-outlined {
  background-color: transparent;
  color: black;
  border: 1px solid black;

  &:hover {
    border-color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: black;
    color: #fff;
  }
}

// ===================================================== White =========================================================

.CuteIconButton-white-text {
  background-color: transparent;
  color: white;
  border: 1px solid transparent;

  &:hover {
    background-color: var(--glass);
    color: white;
  }

  &:active {
    background-color: var(--darkGlass);
  }
}

.CuteIconButton-white-contained {
  background-color: white;
  color: black;
  border: 1px solid white;

  &:hover {
    color: black;
    background-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &:active {
    background-color: white;
  }
}

.CuteIconButton-white-outlined {
  background-color: transparent;
  color: white;
  border: 1px solid white;

  &:hover {
    border-color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: white;
    color: black;
  }
}

// ===================================================== text =========================================================

.CuteIconButton-text-text {
  background-color: transparent;
  color: var(--textPrimary);
  border: 1px solid transparent;

  &:hover {
    background-color: var(--glass);
  }

  &:active {
    background-color: var(--darkGlass);
  }
}

.CuteIconButton-text-contained {
  background-color: var(--textPrimary);
  color: var(--textOpposite);
  border: 1px solid var(--textPrimary);

  &:hover {
    color: var(--textOpposite);
    background-color: var(--textPrimary);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &:active {
    background-color: var(--textPrimary);
  }
}

.CuteIconButton-text-outlined {
  background-color: transparent;
  color: var(--textPrimary);
  border: 1px solid var(--textPrimary);

  &:hover {
    border-color: var(--textPrimary);
    -webkit-box-shadow: 0px 0px 0px 3px var(--glass);
    box-shadow: 0px 0px 0px 3px var(--glass);
  }
  &:active {
    -webkit-box-shadow: 0px 0px 0px 3px var(--darkGlass);
    box-shadow: 0px 0px 0px 3px var(--darkGlass);
  }
}
