.avatar {
  width: 40px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatarSquare {
  border-radius: 0;
}

.avatarRouneded {
  border-radius: 20%;
}

.avatarCircular {
  border-radius: 50%;
}
