// ================================================= Buttons =================================================

.CuteButton {
  cursor: pointer;
  border: none;
  border-radius: 7px;
  display: inline-block;
  transition: 0.1s all ease-in-out;
}

// ================================================= Error =================================================

// ================================================= Success =================================================

// ================================================= Dark mode =================================================

// ================================================= Primary =================================================

.CuteButton-primary-text {
  background-color: transparent;
  color: var(--primaryDark);
  border: 1px solid transparent;

  &:hover {
    background-color: var(--glassPrimary);
    color: var(--primaryDark);
  }

  &:active {
    background-color: var(--darkGlassPrimary);
  }
}

.CuteButton-primary-contained {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);

  &:hover {
    background-color: var(--primaryDark);
    box-shadow: 3px 3px 0px 0px var(--primaryLight);
    border-color: var(--primaryDark);
  }

  &:active {
    background-color: var(--primaryTooDark);
    border-color: var(--primaryTooDark);
  }
}

.CuteButton-primary-outlined {
  background-color: transparent;
  color: var(--textPrimary);
  border: 1px solid var(--textPrimary);

  &:hover {
    color: var(--primary);
    border: 1px solid var(--primary);
    box-shadow: 3px 3px 0px 0px var(--primaryLight);
  }
}

@media (prefers-color-scheme: dark) {
  .CuteButton-primary-text {
    color: var(--textPrimary);
    &:hover {
      color: var(--textPrimary);
      background-color: var(--darkGlass);
    }
    &:active {
      background-color: var(--glass);
    }
  }

  .CuteButton-primary-contained {
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
      background-color: #fff;
      border-color: #fff;
      color: var(--primary);
      box-shadow: 3px 3px 0px 0px var(--primary);
    }
  }

  .CuteButton-primary-outlined {
    &:hover {
      border-color: var(--white);
      color: white;
      box-shadow: 3px 3px 0px 0px var(--primary);
    }
  }
}

// ================================================= Secondary =================================================

.CuteButton-secondary-text {
  background-color: transparent;
  color: var(--secondary);
  border: 1px solid transparent;

  &:hover {
    background-color: var(--secondaryTooLight);
    color: var(--secondary);
  }

  &:active {
    background-color: var(--secondaryLight);
  }
}

.CuteButton-secondary-contained {
  background-color: var(--secondary);
  color: white;
  border: 1px solid var(--secondary);

  &:hover {
    color: white;
    background-color: var(--secondaryDark);
    box-shadow: 3px 3px 0px 0px var(--secondaryTooLight);
    border-color: var(--secondaryDark);
  }
  &:active {
    background-color: var(--secondaryTooDark);
    border-color: var(--secondaryTooDark);
  }
}

.CuteButton-secondary-outlined {
  background-color: transparent;
  color: var(--textPrimary);
  border: 1px solid var(--textPrimary);

  &:hover {
    border-color: var(--secondary);
    box-shadow: 3px 3px 0px 0px var(--secondaryTooLight);
    color: var(--secondary);
    background-color: transparent;
  }

  &:active {
    background-color: transparent !important;
    background-color: var(--secondaryDark);
  }
}

@media (prefers-color-scheme: dark) {
  .CuteButton-secondary-text {
    color: white;
    &:hover {
      background-color: var(--darkGlass);
      color: white;
    }
    &:active {
      background-color: var(--glass);
      color: white;
    }
  }

  .CuteButton-secondary-contained {
    background-color: var(--secondaryLight);
    border-color: var(--secondaryLight);
    &:hover {
      box-shadow: 3px 3px 0px 0px var(--secondary) !important;
      background-color: #fff;
      color: var(--secondaryLight);
      border-color: #fff;
      box-shadow: none;
    }
  }

  .CuteButton-secondary-outlined {
    &:hover {
      box-shadow: 3px 3px 0px 0px var(--secondary);
      border-color: var(--textPrimary);
      color: var(--textPrimary);
      background-color: transparent;
    }
  }
}

// ================================================ Start End =======================================================

.CuteButton-iconStart {
  position: relative;
  padding-left: 37px !important;

  svg {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.CuteButton-iconEnd {
  position: relative;
  padding-right: 37px !important;

  svg {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.CuteButton-icons {
  position: relative;
  padding-left: 37px !important;
  padding-right: 37px !important;

  svg:nth-child(1) {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;

    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  svg:nth-child(2) {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;

    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

// ================================================= Sizes =================================================

.CuteButton-small {
  font-size: 0.8125rem;
  padding: 6px 8px;
}

.CuteButton-medium {
  font-size: 0.875rem;
  padding: 8px 12px;
}

.CuteButton-large {
  font-size: 0.9375rem;
  padding: 10px 14px;
}

// ===================================================== Neutral =========================================================

.CuteButton-neutral-text {
  background-color: transparent;
  color: var(--textPrimary);
  border: 1px solid transparent;

  &:hover {
    background-color: var(--neutralTooLight);
    color: var(--neutral);
  }

  &:active {
    background-color: var(--neutralLight);
  }
}

.CuteButton-neutral-contained {
  background-color: var(--neutral);
  color: white;
  border: 1px solid var(--neutral);

  &:hover {
    color: white;
    background-color: var(--neutralDark);
    box-shadow: 3px 3px 0px 0px var(--neutralTooLight);
  }
  &:active {
    background-color: var(--neutralTooDark);
  }
}

.CuteButton-neutral-outlined {
  background-color: transparent;
  color: var(--textPrimary);
  border: 1px solid var(--textPrimary);

  &:hover {
    border-color: var(--neutral);
    box-shadow: 3px 3px 0px 0px var(--neutralTooLight);
    background-color: transparent;
  }

  &:active {
    background-color: transparent !important;
    background-color: var(--neutralDark);
  }
}

@media (prefers-color-scheme: dark) {
  .CuteButton-neutral-text {
    color: white;
    &:hover {
      background-color: var(--darkGlass);
      color: white;
    }
    &:active {
      background-color: var(--glass);
      color: white;
    }
  }

  .CuteButton-neutral-contained {
    background-color: var(--neutral);
    border-color: var(--neutralLight);
    &:hover {
      background-color: #fff;
      color: var(--neutral);
      border-color: #fff;
      box-shadow: none;
      box-shadow: 3px 3px 0px 0px var(--neutral);
    }
  }

  .CuteButton-neutral-outlined {
    &:hover {
      box-shadow: 3px 3px 0px 0px var(--neutral);
      border-color: var(--textPrimary);
      color: var(--textPrimary);
      background-color: transparent;
    }
  }
}

// ====== disabled ===

.CuteButton-disabled {
  background-color: transparent !important;
  border-color: var(--disabled) !important;
  color: var(--disabled) !important;
  box-shadow: none !important;
}
