.CuteIcon {
  display: flex;
  align-items: center;
  padding: 7px;
}

.CuteIcon-small {
  svg {
    width: 17px;
    height: 17px;
  }
}

.CuteIcon-large {
  svg {
    width: 25px;
    height: 25px;
  }
}

.CuteIcon-medium {
  svg {
    width: 22px;
    height: 22px;
  }
}

.CuteIcon-secondary {
  svg {
    color: var(--secondary);
  }
}

.CuteIcon-neutral {
  svg {
    color: var(--neutral);
  }
}

.CuteIcon-primary {
  svg {
    color: var(--primary);
  }
}
