.CuteListItem {
  padding: 7px 15px;
  border-radius: 7px;
  user-select: none;
  margin-bottom: 5px;
}

.CuteListItemButton {
  &:hover {
    background-color: var(--glass);
    color: var(--primaryDark);
  }

  &:active {
    background-color: var(--darkGlass);
  }
}

.CuteListItem-iconStart {
  position: relative;
  padding-left: 37px;

  svg {
    color: var(--primary);
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.CuteListItem-iconEnd {
  position: relative;
  padding-right: 37px;

  svg {
    color: var(--primary);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.CuteListItem-icons {
  position: relative;
  padding-left: 37px;
  padding-right: 37px;

  svg:nth-child(1) {
    color: var(--primary);
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;

    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  svg:nth-child(2) {
    color: var(--primary);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;

    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.CuteListItem-active {
  background-color: var(--primary);
  color: white;
  &:hover {
    background-color: var(--primaryDark);
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  .CuteListItemButton {
    &:hover {
      background-color: var(--darkGlass);
      color: white;
    }
    &:active {
      background-color: var(--glass);
    }
  }

  .CuteListItem-active {
    background-color: var(--primaryDark);
    color: white;
    &:hover {
      background-color: var(--primaryDark);
      color: white;
    }
  }
}
