.CuteMenuBackground {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  backdrop-filter: blur(2px);
}

.CuteMenu {
  position: absolute;
  z-index: 10;
  margin-right: auto;
  margin-left: auto;
  border-radius: 7px;
  border: 1px solid var(--divider);
  background-color: var(--background);
  min-width: 10px;
  display: flex;
  flex-direction: column;
  padding: 7px 0;

  .CuteMenuItem {
    padding: 7px 20px;
    background-color: var(--background);
    cursor: pointer;
    user-select: none;
    color: var(--textSecondary);

    &:hover {
      background-color: var(--glass);
      color: var(--textPrimary);
    }

    &:active {
      background-color: var(--darkGlass);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .CuteMenuItem {
    &:hover {
      background-color: var(--darkGlass) !important;
      color: var(--textPrimary);
    }

    &:active {
      background-color: var(--glass) !important;
    }
  }
}
