.df {
  display: flex;
}

.db {
  display: block;
}

.flex {
  flex: 1;
}

.fdc {
  flex-direction: column;
}

.aic {
  align-items: center;
}

.jcsb {
  justify-content: space-between;
}

.jcc {
  justify-content: center;
}

.jcfs {
  justify-content: flex-start;
}

.jcfe {
  justify-content: flex-end;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
  top: 0;
}

.colorPrimary {
  color: var(--primary);
}

.colorSecondary {
  color: var(--secondary);
}

.colorNeutral {
  color: var(--neutral);
}

.bgPrimary {
  background-color: var(--primary);
}

.bgSecondary {
  background-color: var(--secondary);
}

.bgNeutral {
  background-color: var(--neutral);
}

.textSecondary {
  color: var(--textSecondary);
}

.textPrimary {
  color: var(--textPrimary);
}

.textOpposite {
  color: var(--textOpposite);
}

.dn {
  display: none;
}

.tac {
  text-align: center;
}

.cup {
  cursor: pointer;
}

.border {
  border: 1px solid black;
}

.borderPrimary {
  border-color: var(--primary);
}

.borderSecondary {
  border-color: var(--secondary);
}

.borderNeutral {
  border-color: var(--neutral);
}

.bgWhite {
  background-color: white;
}

.bgBlack {
  background-color: black;
}

.circle {
  border-radius: 50%;
}

.fssm {
  font-size: var(--fontSizeSmall);
}
.fsmd {
  font-size: var(--fontSizeMedium);
}
.fslg {
  font-size: var(--fontSizeLarge);
}

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  width: 100%;
}

.iconWhite {
  svg {
    color: white;
  }
}

.iconBlack {
  svg {
    color: black;
  }
}

.iconPrimary {
  svg {
    color: var(--primary);
  }
}

.iconSecondary {
  svg {
    color: var(--secondary);
  }
}

.iconNeutral {
  svg {
    color: var(--neutral);
  }
}

.disableBoxShadow {
  box-shadow: none;
}

@for $i from 0 through 1000 {
  .m-#{$i}px {
    margin: #{$i}px;
  }
  .ml-#{$i}px {
    margin-left: #{$i}px;
  }
  .mr-#{$i}px {
    margin-right: #{$i}px;
  }
  .mt-#{$i}px {
    margin-top: #{$i}px;
  }
  .mb-#{$i}px {
    margin-bottom: #{$i}px;
  }
  .mx-#{$i}px {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }
  .my-#{$i}px {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }

  .p-#{$i}px {
    padding: #{$i}px;
  }
  .pl-#{$i}px {
    padding-left: #{$i}px;
  }
  .pr-#{$i}px {
    padding-right: #{$i}px;
  }
  .pt-#{$i}px {
    padding-top: #{$i}px;
  }
  .pb-#{$i}px {
    padding-bottom: #{$i}px;
  }
  .px-#{$i}px {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }
  .py-#{$i}px {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }

  .w-#{$i}px {
    width: #{$i}px;
  }
  .h-#{$i}px {
    height: #{$i}px;
  }

  .maxw-#{$i}px {
    max-width: #{$i}px;
  }
  .maxh-#{$i}px {
    max-height: #{$i}px;
  }
  .minw-#{$i}px {
    min-width: #{$i}px;
  }
  .minh-#{$i}px {
    min-height: #{$i}px;
  }

  .top-#{$i}px {
    top: #{$i}px;
  }
  .bottom-#{$i}px {
    bottom: #{$i}px;
  }
  .left-#{$i}px {
    left: #{$i}px;
  }
  .right-#{$i}px {
    right: #{$i}px;
  }
}
