// @import '../../cutie-styles/variables';
.CuteTabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: var(--fontFamily);
  font-size: var(--fontSizeMedium);
}

.CuteTabs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.CuteTab {
  border-bottom: 2px solid transparent;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    background-color: var(--glass);
  }
  &:active {
    background-color: var(--darkGlass);
  }
}

.CuteTabs-fullWidth {
  & > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

// ====================================================== Sizes =============================================================

.CuteTabs-small {
  padding: 7px 12px;
  font-size: var(--fontSizeSmall) !important;
}
.CuteTabs-medium {
  padding: 10px 15px;
  font-size: var(--fontSizeMedium);
}
.CuteTabs-large {
  padding: 12px 22px;
  font-size: var(--fontSizeLarge);
}

// ====================================================== Colors =============================================================

.CuteTab-active-contained-primary {
  background-color: var(--primary) !important;
  color: var(--primaryText);
}
.CuteTab-active-underlined-primary {
  border-color: var(--primary);
}

.CuteTab-active-contained-secondary {
  background-color: var(--secondary) !important;
  color: var(--secondaryText);
}
.CuteTab-active-underlined-secondary {
  border-color: var(--secondary);
}

.CuteTab-active-contained-neutral {
  background-color: var(--neutral) !important;
  color: var(--neutralText);
}
.CuteTab-active-underlined-neutral {
  border-color: var(--neutral);
}

.CuteTab-active-contained-black {
  background-color: black !important;
  color: var(--textOpposite);
}
.CuteTab-active-underlined-black {
  border-color: black;
}

.CuteTab-active-contained-white {
  background-color: var(--textOpposite) !important;
  color: var(--textPrimary);
}
.CuteTab-active-underlined-white {
  border-color: var(--textOpposite);
}

.CuteTab-active-contained-error {
  background-color: var(--error) !important;
  color: var(--errorText);
}
.CuteTab-active-underlined-error {
  border-color: var(--error);
}

.CuteTab-active-contained-success {
  background-color: var(--success) !important;
  color: var(--successText);
}
.CuteTab-active-underlined-success {
  border-color: var(--success);
}

// ================================================== Border radius =========================================================

.CuteTab-rounded {
  border-radius: 10px;
}

.CuteTab-circle {
  border-radius: 20px;
}
