// ================================================= Buttons =================================================

.button {
  cursor: pointer;
  border: none;
  padding: 9px 10px;
  border-radius: 7px;
  display: inline-block;
  font-size: 0.875rem;
  transition: 0.1s all ease-in-out;
}

.buttonContained {
  @extend .button;
  background-color: var(--primary);
  color: white;

  &:hover {
    background-color: var(--primaryDark);
    box-shadow: 3px 3px 0px 0px var(--primaryLight);
  }

  &:active {
    background-color: var(--primaryTooDark);
  }
}

.buttonOutlined {
  @extend .button;
  background-color: transparent;
  color: var(--textPrimary);
  border: 1px solid var(--textPrimary);

  &:hover {
    color: var(--primary);
    border: 1px solid var(--primary);
    box-shadow: 3px 3px 0px 0px var(--primaryLight);
  }
}

.buttonText {
  @extend .button;
  background-color: transparent;
  color: var(--primaryDark);
  border: 1px solid transparent;

  &:hover {
    background-color: var(--glassPrimary);
    color: var(--primaryDark);
  }

  &:active {
    background-color: var(--darkGlassPrimary);
  }
}

// ================================================= Error =================================================

// ================================================= Success =================================================

// ================================================= Dark mode =================================================

@media (prefers-color-scheme: dark) {
  .buttonText {
    color: var(--textPrimary);
    &:hover {
      color: var(--textPrimary);
      background-color: var(--darkGlass);
    }
    &:active {
      background-color: var(--glass);
    }
  }

  .buttonContained {
    background-color: var(--primary);
    &:hover {
      background-color: #fff;
      color: var(--primary);
      box-shadow: 3px 3px 0px 0px var(--primary);
    }
  }

  .buttonOutlined {
    &:hover {
      border-color: var(--white);
      color: white;
      box-shadow: 3px 3px 0px 0px var(--primary);
    }
  }
}

// ================================================= Secondary =================================================

.secondaryButton {
  background-color: transparent;
  color: var(--secondary);
  border: 1px solid transparent;

  &:hover {
    background-color: var(--secondaryTooLight);
    color: var(--secondary);
  }

  &:active {
    background-color: var(--secondaryLight);
  }
}

.secondaryButtoncontained {
  background-color: var(--secondary);
  color: white;

  &:hover {
    color: white;
    background-color: var(--secondaryDark);
    box-shadow: 3px 3px 0px 0px var(--secondaryTooLight);
  }
  &:active {
    background-color: var(--secondaryTooDark);
  }
}

.secondaryButtonoutlined {
  background-color: transparent;
  color: var(--textPrimary);
  border: 1px solid var(--textPrimary);

  &:hover {
    border-color: var(--secondary);
    box-shadow: 3px 3px 0px 0px var(--secondaryTooLight);
    background-color: transparent;
  }

  &:active {
    background-color: transparent !important;
    background-color: var(--secondaryDark);
  }
}

@media (prefers-color-scheme: dark) {
  .secondaryButton {
    color: white;
    &:hover {
      background-color: var(--darkGlass);
      color: white;
    }
    &:active {
      background-color: var(--glass);
      color: white;
    }
  }

  .secondaryButtoncontained {
    background-color: var(--secondaryLight);
    border-color: var(--secondaryLight);
    &:hover {
      box-shadow: 3px 3px 0px 0px var(--secondaryLight) !important;
      background-color: #fff !important;
      color: var(--secondaryLight);
      border-color: #fff;
      box-shadow: none;
    }
  }

  .secondaryButtonoutlined {
    &:hover {
      box-shadow: 3px 3px 0px 0px var(--secondaryLight);
      border-color: var(--textPrimary);
      color: var(--textPrimary);
      background-color: transparent;
    }
  }
}

// ================================================ Start End =======================================================

.buttonIconStart {
  position: relative;
  padding-left: 37px !important;

  svg {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.buttonIconEnd {
  position: relative;
  padding-right: 37px !important;

  svg {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.buttonIcons {
  position: relative;
  padding-left: 37px !important;
  padding-right: 37px !important;

  svg:nth-child(1) {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;

    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  svg:nth-child(2) {
    color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;

    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

// ================================================= Sizes =================================================

.smallButton {
  font-size: 0.875rem;
  padding: 7px 8px;
}

.largeButton {
  font-size: 0.9375rem;
}
