// ================================================= Buttons =================================================

.CuteButton {
  cursor: pointer;
  border: none;
  border-radius: 7px;
  display: inline-block;
  transition: 0.1s all ease-in-out;
}

// ================================================= Error =================================================

// ================================================= Success =================================================

// ================================================= Dark mode =================================================

// ================================================= Primary =================================================

.CuteButton-primary-text {
  background-color: transparent;
  color: var(--primaryDark);
  border: 1px solid transparent;

  &:hover {
    background-color: var(--glassPrimary);
    color: var(--primaryDark);
  }

  &:active {
    background-color: var(--darkGlassPrimary);
  }
}

.CuteButton-primary-contained {
  background-color: var(--primary);
  color: var(--primaryText);
  border: 1px solid var(--primary);
  position: relative;

  &:hover {
    background-color: var(--primaryDark);
    // background-color: var(--primary) !important;
    box-shadow: 3px 3px 0px 0px var(--primaryLight);
    border-color: var(--primaryDark);

    // background-image: linear-gradient(rgb(0 0 0/8%) 0 0);

    &:active {
      background-color: var(--primaryTooDark);
      // background-image: linear-gradient(rgb(0 0 0/12%) 0 0);
      border-color: var(--primaryTooDark);
    }
  }
}

.CuteButton-primary-outlined {
  background-color: transparent;
  color: var(--textPrimary);
  border: 1px solid var(--textPrimary);

  &:hover {
    color: var(--primary);
    border: 1px solid var(--primary);
    box-shadow: 3px 3px 0px 0px var(--primaryLight);
  }
}

// ================================================= Secondary =================================================

.CuteButton-secondary-text {
  background-color: transparent;
  color: var(--secondary);
  border: 1px solid transparent;

  &:hover {
    background-color: var(--secondaryTooLight);
    color: var(--secondary);
  }

  &:active {
    background-color: var(--secondaryLight);
  }
}

.CuteButton-secondary-contained {
  background-color: var(--secondary);
  color: var(--secondaryText);
  border: 1px solid var(--secondary);

  &:hover {
    color: white;
    background-color: var(--secondaryDark);
    box-shadow: 3px 3px 0px 0px var(--secondaryTooLight);
    border-color: var(--secondaryDark);
  }
  &:active {
    background-color: var(--secondaryTooDark);
    border-color: var(--secondaryTooDark);
  }
}

.CuteButton-secondary-outlined {
  background-color: transparent;
  color: var(--textPrimary);
  border: 1px solid var(--textPrimary);

  &:hover {
    border-color: var(--secondary);
    box-shadow: 3px 3px 0px 0px var(--secondaryTooLight);
    color: var(--secondary);
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
  }
}

// ================================================ Start End =======================================================

.CuteButton-iconStart {
  display: flex;
  align-items: center;

  & > *:first-child {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
}

.CuteButton-iconEnd {
  display: flex;
  align-items: center;

  & > *:last-child {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    min-width: 20px;
  }
}

.CuteButton-icons {
  display: flex;
  align-items: center;
  & > *:first-child {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    min-width: 20px;
  }

  .CuteButtonChildren {
    margin-right: 10px;
  }

  & > *:last-child {
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin-left: auto;
  }
}

// ================================================= Sizes =================================================

.CuteButton-small {
  font-size: var(--fontSizeSmall);
  padding: 6px 8px;
}

.CuteButton-medium {
  font-size: var(--fontSizeMedium);
  padding: 8px 12px;
}

.CuteButton-large {
  font-size: var(--fontSizeLarge);
  padding: 10px 16px;
}

// ===================================================== Neutral =========================================================

.CuteButton-neutral-text {
  background-color: transparent;
  color: var(--textPrimary);
  border: 1px solid transparent;

  &:hover {
    background-color: var(--neutralTooLight);
    color: var(--neutral);
  }

  &:active {
    background-color: var(--neutralLight);
  }
}

.CuteButton-neutral-contained {
  background-color: var(--neutral);
  color: var(--neutralText);
  border: 1px solid var(--neutral);

  &:hover {
    color: white;
    background-color: var(--neutralDark);
    box-shadow: 3px 3px 0px 0px var(--neutralTooLight);
  }
  &:active {
    background-color: var(--neutralTooDark);
  }
}

.CuteButton-neutral-outlined {
  background-color: transparent;
  color: var(--textPrimary);
  border: 1px solid var(--textPrimary);

  &:hover {
    border-color: var(--neutral);
    box-shadow: 3px 3px 0px 0px var(--neutralTooLight);
    color: var(--neutral);
  }

  &:active {
    background-color: transparent;
  }
}

// ===================================================== Disabled =========================================================

.CuteButton-text-disabled {
  background-color: transparent !important;
  border-color: transparent !important;
  color: var(--disabled) !important;
  box-shadow: none !important;
}

.CuteButton-outlined-disabled {
  background-color: transparent !important;
  border-color: var(--disabled) !important;
  color: var(--disabled) !important;
  box-shadow: none !important;
}

.CuteButton-contained-disabled {
  background-color: var(--darkGlass) !important;
  border-color: transparent !important;
  color: var(--disabled) !important;
  box-shadow: none !important;
}

// ===================================================== Black =========================================================

.CuteButton-black-text {
  background-color: transparent;
  color: black;
  border: 1px solid transparent;

  &:hover {
    background-color: var(--glass);
    color: black;
  }

  &:active {
    background-color: var(--darkGlass);
  }
}

.CuteButton-black-contained {
  background-color: black;
  color: white;
  border: 1px solid black;

  &:hover {
    color: white;
    background-color: black;
    box-shadow: none;
  }
  &:active {
    background-color: black;
  }
}

.CuteButton-black-outlined {
  background-color: transparent;
  color: black;
  border: 1px solid black;

  &:hover {
    border-color: black;
    box-shadow: none;
    background-color: black;
    color: #fff;
  }
}

// ===================================================== White =========================================================

.CuteButton-white-text {
  background-color: transparent;
  color: white;
  border: 1px solid transparent;

  &:hover {
    background-color: var(--glass);
    color: white;
  }

  &:active {
    background-color: var(--darkGlass);
  }
}

.CuteButton-white-contained {
  background-color: white;
  color: black;
  border: 1px solid white;

  &:hover {
    color: black;
    background-color: white;
    box-shadow: none;
  }
  &:active {
    background-color: white;
  }
}

.CuteButton-white-outlined {
  background-color: transparent;
  color: white;
  border: 1px solid white;

  &:hover {
    border-color: white;
    box-shadow: none;
    background-color: white;
    color: black;
  }
}

// ===================================================== text =========================================================

.CuteButton-text-text {
  background-color: transparent;
  color: black;
  border: 1px solid transparent;

  &:hover {
    background-color: var(--glass);
    color: black;
  }

  &:active {
    background-color: var(--darkGlass);
  }
}

.CuteButton-text-contained {
  background-color: black;
  color: white;
  border: 1px solid black;

  &:hover {
    color: white;
    background-color: black;
    box-shadow: none;
  }
  &:active {
    background-color: black;
  }
}

.CuteButton-text-outlined {
  background-color: transparent;
  color: black;
  border: 1px solid black;

  &:hover {
    border-color: black;
    box-shadow: none;
    background-color: black;
    color: #fff;
  }
}

// ================================================= Error ==================================================
.CuteButton-error-text {
  background-color: transparent;
  color: var(--error);
  border: 1px solid transparent;

  &:hover {
    background-color: var(--glass);

    color: var(--error);
  }

  &:active {
    background-color: var(--darkGlass);
  }
}

.CuteButton-error-contained {
  background-color: var(--error);
  color: var(--errorText);
  border: 1px solid var(--error);
}

.CuteButton-error-outlined {
  background-color: transparent;
  color: var(--error);
  border: 1px solid var(--error);
}

// ================================================= Success ==================================================
.CuteButton-success-text {
  background-color: transparent;
  color: var(--success);
  border: 1px solid transparent;

  &:hover {
    background-color: var(--glass);

    color: var(--success);
  }

  &:active {
    background-color: var(--darkGlass);
  }
}

.CuteButton-success-contained {
  background-color: var(--success);
  color: var(--successText);
  border: 1px solid var(--success);
}

.CuteButton-success-outlined {
  background-color: transparent;
  color: var(--success);
  border: 1px solid var(--success);
}

// ========

.CuteButton-square {
  border-radius: 0 !important;
}

// =========================== dark mode

@media (prefers-color-scheme: dark) {
  .CuteButton-primary-text {
    color: var(--textPrimary);
    &:hover {
      color: var(--textPrimary);
      background-color: var(--darkGlass);
    }
    &:active {
      background-color: var(--glass);
    }
  }

  .CuteButton-primary-contained {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--dm_primaryText);

    &:hover {
      background-color: #fff;
      background-color: var(--primaryText);
      border-color: #fff;
      color: var(--primary);
      box-shadow: 3px 3px 0px 0px var(--primary);
    }
  }

  .CuteButton-primary-outlined {
    &:hover {
      background-color: var(--darkGlass);
      border-color: var(--white);
      color: white;
      box-shadow: 3px 3px 0px 0px var(--primary);
    }
    &:active {
      background-color: var(--glass);
    }
  }

  .CuteButton-secondary-text {
    color: white;
    &:hover {
      background-color: var(--darkGlass);
      color: white;
    }
    &:active {
      background-color: var(--glass);
      color: white;
    }
  }

  .CuteButton-secondary-contained {
    background-color: var(--secondaryLight);
    border-color: var(--secondaryLight);
    color: var(--dm_secondaryText);
    &:hover {
      box-shadow: 3px 3px 0px 0px var(--secondary);
      background-color: #fff;
      color: var(--secondaryLight);
      border-color: #fff;
    }
  }

  .CuteButton-secondary-outlined {
    &:hover {
      box-shadow: 3px 3px 0px 0px var(--secondary);
      border-color: var(--textPrimary);
      color: var(--textPrimary);
      background-color: var(--darkGlass);
    }
    &:active {
      background-color: var(--glass);
    }
  }

  .CuteButton-neutral-text {
    color: white;
    &:hover {
      background-color: var(--darkGlass);
      color: white;
    }
    &:active {
      background-color: var(--glass);
      color: white;
    }
  }

  .CuteButton-neutral-contained {
    background-color: var(--dm_neutral);
    border-color: var(--dm_neutralLight);
    color: var(--dm_neutralText);
    &:hover {
      background-color: #fff;
      color: var(--neutral);
      border-color: #fff;
      box-shadow: none;
      box-shadow: 3px 3px 0px 0px var(--neutral);
    }
  }

  .CuteButton-neutral-outlined {
    &:hover {
      box-shadow: 3px 3px 0px 0px var(--neutral);
      border-color: var(--textPrimary);
      color: var(--textPrimary);
      background-color: var(--darkGlass);
    }
    &:active {
      background-color: var(--glass);
    }
  }

  .CuteButton-text-text {
    background-color: transparent;
    color: white;
    border: 1px solid transparent;

    &:hover {
      background-color: var(--darkGlass);
      color: white;
    }

    &:active {
      background-color: var(--glass);
    }
  }

  .CuteButton-text-contained {
    background-color: white;
    color: black;
    border: 1px solid white;

    &:hover {
      color: black;
      background-color: white;
      box-shadow: none;
    }
    &:active {
      background-color: white;
    }
  }

  .CuteButton-text-outlined {
    background-color: transparent;
    color: white;
    border: 1px solid white;

    &:hover {
      border-color: white;
      box-shadow: none;
      background-color: white;
      color: black;
    }
  }
}

// ============

[data-theme='dark'] {
  .CuteButton-success-contained {
    color: var(--dm_successText);
    background-color: var(--dm_success);
    border-color: var(--dm_success);
  }
  .CuteButton-success-outlined {
    color: var(--dm_success);
    background-color: transparent;
    border-color: var(--dm_success);
  }
  .CuteButton-success-text {
    color: var(--dm_success);
    border-color: transparent;
    &:hover {
      background-color: var(--darkGlass);
    }
    &:active {
      background-color: var(--glass);
    }
  }
  .CuteButton-error-contained {
    color: var(--dm_errorText);
    background-color: var(--dm_error);
    border-color: var(--dm_error);
  }
  .CuteButton-error-outlined {
    color: var(--dm_error);
    background-color: transparent;
    border-color: var(--dm_error);
  }
  .CuteButton-error-text {
    color: var(--dm_error);
    border-color: transparent;
    &:hover {
      background-color: var(--darkGlass);
    }
    &:active {
      background-color: var(--glass);
    }
  }

  .CuteButton-text-disabled {
    color: var(--dm_disabled) !important;
  }

  .CuteButton-outlined-disabled {
    border-color: var(--dm_disabled) !important;
    color: var(--dm_disabled) !important;
  }

  .CuteButton-contained-disabled {
    color: var(--dm_disabled) !important;
  }

  .CuteButton-primary-text {
    color: var(--dm_primary);
    &:hover {
      color: var(--dm_primary);
      background-color: var(--glassPrimary);
    }
    &:active {
      color: var(--dm_primary);
      background-color: var(--darkGlassPrimary);
    }
  }

  .CuteButton-primary-contained {
    background-color: var(--dm_primary);
    border-color: var(--dm_primary);
    color: var(--dm_primaryText);
    &:hover {
      background-color: var(--dm_primaryText);
      background-color: var(--dm_primaryLight);
      border-color: var(--dm_primaryLight);
      color: var(--dm_primaryText);
      box-shadow: 3px 3px 0px 0px var(--dm_primaryTooDark);
    }
    &:active {
      background-color: var(--dm_primaryTooLight);
      border-color: var(--dm_primaryTooLight);
    }
  }

  .CuteButton-primary-outlined {
    color: var(--dm_textPrimary);
    border-color: var(--dm_textPrimary);
    &:hover {
      background-color: var(--glassPrimary);
      border-color: var(--dm_primary);
      color: var(--dm_primary);
      box-shadow: 3px 3px 0px 0px var(--dm_primary);
    }
    &:active {
      background-color: var(--darkGlassPrimary);
    }
  }

  .CuteButton-secondary-text {
    color: var(--dm_secondary);
    &:hover {
      background-color: var(--glassSecondary);
      color: var(--dm_secondary);
    }
    &:active {
      background-color: var(--darkGlassSecondary);
      color: var(--dm_secondary);
    }
  }

  .CuteButton-secondary-contained {
    background-color: var(--dm_secondary);
    border-color: var(--dm_secondary);
    color: var(--dm_secondaryText);
    &:hover {
      box-shadow: 3px 3px 0px 0px var(--dm_secondary);
      background-color: var(--dm_secondaryLight);
      color: var(--dm_secondaryText);
      border-color: var(--dm_secondaryLight);
    }
    &:active {
      background-color: var(--dm_secondaryTooLight);
      border-color: var(--dm_secondaryTooLight);
    }
  }

  .CuteButton-secondary-outlined {
    color: var(--dm_textPrimary);
    border-color: var(--dm_textPrimary);
    &:hover {
      box-shadow: 3px 3px 0px 0px var(--dm_secondary);
      border-color: var(--dm_secondary);
      color: var(--dm_secondary);
      background-color: var(--glassSecondary);
    }
    &:active {
      background-color: var(--darkGlassSecondary);
    }
  }

  .CuteButton-neutral-text {
    color: var(--dm_neutral);

    &:hover {
      background-color: var(--dm_glassNeutral);
      color: var(--dm_neutral);
    }
    &:active {
      background-color: var(--dm_darkGlassNeutral);
      color: var(--dm_neutral);
    }
  }

  .CuteButton-neutral-contained {
    background-color: var(--dm_neutral);
    border-color: var(--dm_neutral);
    color: var(--dm_neutralText);
    &:hover {
      background-color: var(--dm_neutralLight);
      color: var(--dm_neutralText);
      border-color: var(--dm_neutralLight);
      box-shadow: 3px 3px 0px 0px var(--dm_neutral);
    }
    &:active {
      background-color: var(--dm_neutralTooLight);
      border-color: var(--dm_neutralTooLight);
    }
  }

  .CuteButton-neutral-outlined {
    color: var(--dm_textPrimary);
    border-color: var(--dm_textPrimary);
    &:hover {
      box-shadow: 3px 3px 0px 0px var(--dm_neutral);
      border-color: var(--dm_neutral);
      color: var(--dm_neutral);
      background-color: var(--dm_glassNeutral);
    }
    &:active {
      background-color: var(--dm_darkGlassNeutral);
    }
  }

  .CuteButton-text-text {
    background-color: transparent;
    color: var(--dm_textPrimary);
    border: 1px solid transparent;

    &:hover {
      background-color: var(--darkGlass);
      color: var(--dm_textPrimary);
    }

    &:active {
      background-color: var(--glass);
    }
  }

  .CuteButton-text-contained {
    background-color: var(--dm_textPrimary);
    color: black;
    border: 1px solid var(--dm_textPrimary);

    &:hover {
      color: black;
      background-color: var(--dm_textPrimary);
      box-shadow: none;
    }
    &:active {
      background-color: var(--dm_textPrimary);
    }
  }

  .CuteButton-text-outlined {
    background-color: transparent;
    color: var(--dm_textPrimary);
    border: 1px solid var(--dm_textPrimary);

    &:hover {
      border-color: var(--dm_textPrimary);
      box-shadow: none;
      background-color: var(--dm_textPrimary);
      color: var(--dm_textOpposite);
    }
  }
}

// ======

[data-theme='light'] {
  .CuteButton-primary-text {
    background-color: transparent;
    color: var(--primaryDark);
    border: 1px solid transparent;

    &:hover {
      background-color: var(--glassPrimary);
      color: var(--primaryDark);
    }

    &:active {
      background-color: var(--darkGlassPrimary);
    }
  }

  .CuteButton-primary-contained {
    background-color: var(--primary);
    color: var(--primaryText);
    border: 1px solid var(--primary);

    &:hover {
      background-color: var(--primaryDark);
      box-shadow: 3px 3px 0px 0px var(--primaryTooLight);
      border-color: var(--primaryDark);
    }

    &:active {
      background-color: var(--primaryTooDark);
      border-color: var(--primaryTooDark);
    }
  }

  .CuteButton-primary-outlined {
    background-color: transparent;
    color: var(--textPrimary);
    border: 1px solid var(--textPrimary);

    &:hover {
      color: var(--primary);
      border: 1px solid var(--primary);
      box-shadow: 3px 3px 0px 0px var(--primaryTooLight);
    }
  }

  .CuteButton-secondary-text {
    background-color: transparent;
    color: var(--secondary);
    border: 1px solid transparent;

    &:hover {
      background-color: var(--glassSecondary);
      color: var(--secondary);
    }

    &:active {
      background-color: var(--darkGlassSecondary);
    }
  }

  .CuteButton-secondary-contained {
    background-color: var(--secondary);
    color: var(--secondaryText);
    border: 1px solid var(--secondary);

    &:hover {
      background-color: var(--secondaryDark);
      box-shadow: 3px 3px 0px 0px var(--secondaryTooLight);
      border-color: var(--secondaryDark);
    }
    &:active {
      background-color: var(--secondaryTooDark);
      border-color: var(--secondaryTooDark);
    }
  }

  .CuteButton-secondary-outlined {
    background-color: transparent;
    color: var(--textPrimary);
    border: 1px solid var(--textPrimary);

    &:hover {
      border-color: var(--secondary);
      box-shadow: 3px 3px 0px 0px var(--secondaryTooLight);
      color: var(--secondary);
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }
  }

  .CuteButton-neutral-text {
    background-color: transparent;
    color: var(--neutral);
    border: 1px solid transparent;

    &:hover {
      background-color: var(--glass);
      color: var(--neutral);
    }

    &:active {
      background-color: var(--darkGlass);
    }
  }

  .CuteButton-neutral-contained {
    background-color: var(--neutral);
    color: var(--neutralText);
    border: 1px solid var(--neutral);

    &:hover {
      background-color: var(--neutralDark);
      box-shadow: 3px 3px 0px 0px var(--neutralTooLight);
      border-color: var(--neutralDark);
    }
    &:active {
      background-color: var(--neutralTooDark);
      border-color: var(--neutralTooDark);
    }
  }

  .CuteButton-neutral-outlined {
    background-color: transparent;
    color: var(--textPrimary);
    border: 1px solid var(--textPrimary);

    &:hover {
      border-color: var(--neutral);
      box-shadow: 3px 3px 0px 0px var(--neutralTooLight);
      color: var(--neutral);
    }

    &:active {
      background-color: transparent;
    }
  }

  .CuteButton-text-text {
    background-color: transparent;
    color: black;
    border: 1px solid transparent;

    &:hover {
      background-color: var(--glass);
      color: black;
    }

    &:active {
      background-color: var(--darkGlass);
    }
  }

  .CuteButton-text-contained {
    background-color: black;
    color: white;
    border: 1px solid black;

    &:hover {
      color: white;
      background-color: black;
      box-shadow: none;
    }
    &:active {
      background-color: black;
    }
  }

  .CuteButton-text-outlined {
    background-color: transparent;
    color: black;
    border: 1px solid black;

    &:hover {
      border-color: black;
      box-shadow: none;
      background-color: black;
      color: #fff;
    }
  }
}
