.CuteTabs {
  display: flex;
  align-items: center;
}

.CuteTabs-wrapper {
  display: flex;
  flex-direction: column;
}

.CuteTab {
  border-bottom: 2px solid transparent;
  text-align: center;
  user-select: none;
  &:hover {
    background-color: var(--glass);
  }
  &:active {
    background-color: var(--darkGlass);
  }
}

.CuteTabs-fullWidth {
  & > * {
    flex: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .CuteTab {
    &:hover {
      background-color: var(--darkGlass);
    }
    &:active {
      background-color: var(--glass);
    }
  }
}

// ====================================================== Sizes =============================================================

.CuteTabs-small {
  padding: 7px 12px;
  font-size: var(--fontSizeSmall) !important;
}
.CuteTabs-medium {
  padding: 10px 15px;
  font-size: var(--fontSizeMedium);
}
.CuteTabs-large {
  padding: 12px 22px;
  font-size: var(--fontSizeLarge);
}

// ====================================================== Colors =============================================================

.CuteTab-active-contained-primary {
  background-color: var(--primary) !important;
  color: var(--primaryText);
}
.CuteTab-active-underlined-primary {
  border-color: var(--primary);
}

.CuteTab-active-contained-secondary {
  background-color: var(--secondary) !important;
  color: var(--secondaryText);
}
.CuteTab-active-underlined-secondary {
  border-color: var(--secondary);
}

.CuteTab-active-contained-neutral {
  background-color: var(--neutral) !important;
  color: var(--neutralText);
}
.CuteTab-active-underlined-neutral {
  border-color: var(--neutral);
}

.CuteTab-active-contained-black {
  background-color: black !important;
  color: var(--textOpposite);
}
.CuteTab-active-underlined-black {
  border-color: black;
}

.CuteTab-active-contained-white {
  background-color: var(--textOpposite) !important;
  color: var(--textPrimary);
}
.CuteTab-active-underlined-white {
  border-color: var(--textOpposite);
}

.CuteTab-active-contained-error {
  background-color: var(--error) !important;
  color: var(--errorText);
}
.CuteTab-active-underlined-error {
  border-color: var(--error);
}

.CuteTab-active-contained-success {
  background-color: var(--success) !important;
  color: var(--successText);
}
.CuteTab-active-underlined-success {
  border-color: var(--success);
}

// ================================================== Border radius =========================================================

.CuteTab-rounded {
  border-radius: 10px;
}

.CuteTab-circle {
  border-radius: 20px;
}

// =================================

[data-theme='light'] {
  .CuteTab {
    &:hover {
      background-color: var(--glass);
    }
    &:active {
      background-color: var(--darkGlass);
    }
  }
}

[data-theme='dark'] {
  .CuteTab {
    // color: var(--dm_textPrimary);
    &:hover {
      background-color: var(--darkGlass);
    }
    &:active {
      background-color: var(--glass);
    }
  }

  .CuteTab-active-contained-primary {
    background-color: var(--dm_primary) !important;
    color: var(--dm_primaryText);
  }
  .CuteTab-active-underlined-primary {
    color: var(--dm_textPrimary);
    border-color: var(--dm_primary);
  }

  .CuteTab-active-contained-secondary {
    background-color: var(--dm_secondary) !important;
    color: var(--dm_secondaryText);
  }
  .CuteTab-active-underlined-secondary {
    border-color: var(--dm_secondary);
  }

  .CuteTab-active-contained-neutral {
    background-color: var(--dm_neutral) !important;
    color: var(--dm_neutralText);
  }
  .CuteTab-active-underlined-neutral {
    border-color: var(--dm_neutral);
    color: var(--dm_textPrimary);
  }

  .CuteTab-active-contained-black {
    background-color: black !important;
    color: var(--dm_textPrimary);
  }
  .CuteTab-active-underlined-black {
    color: var(--dm_textPrimary);
  }

  .CuteTab-active-contained-white {
    background-color: white !important;
    color: var(--textPrimary);
  }
  .CuteTab-active-underlined-white {
    border-color: white;
  }

  .CuteTab-active-contained-error {
    background-color: var(--dm_error) !important;
    color: var(--dm_errorText);
  }
  .CuteTab-active-underlined-error {
    border-color: var(--dm_error);
  }

  .CuteTab-active-contained-success {
    background-color: var(--dm_success) !important;
    color: var(--dm_successText);
  }
  .CuteTab-active-underlined-success {
    border-color: var(--dm_success);
    color: var(--dm_textPrimary);
  }
}
