.CuteIcon {
  display: flex;
  align-items: center;
  padding: 7px;
}

.CuteIcon-small {
  & > *:first-child {
    width: 17px;
    height: 17px;
  }
}

.CuteIcon-medium {
  & > *:first-child {
    width: 24px;
    height: 24px;
  }
}

.CuteIcon-large {
  & > *:first-child {
    width: 30px;
    height: 30px;
  }
}

.CuteIcon-secondary {
  & > *:first-child {
    color: var(--secondary);
  }
}

.CuteIcon-neutral {
  & > *:first-child {
    color: var(--neutral);
  }
}

.CuteIcon-primary {
  & > *:first-child {
    color: var(--primary);
  }
}

.CuteIcon-black {
  & > *:first-child {
    color: black;
  }
}

.CuteIcon-white {
  & > *:first-child {
    color: white;
  }
}

.CuteIcon-text {
  & > *:first-child {
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  .CuteIcon-text {
    & > *:first-child {
      color: var(--textWhite);
    }
  }
}

// =================

[data-theme='light'] {
  .CuteIcon-secondary {
    & > *:first-child {
      color: var(--secondary);
    }
  }

  .CuteIcon-neutral {
    & > *:first-child {
      color: var(--neutral);
    }
  }

  .CuteIcon-primary {
    & > *:first-child {
      color: var(--primary);
    }
  }

  .CuteIcon-black {
    & > *:first-child {
      color: black;
    }
  }

  .CuteIcon-white {
    & > *:first-child {
      color: white;
    }
  }

  .CuteIcon-text {
    & > *:first-child {
      color: black;
    }
  }
}

[data-theme='dark'] {
  .CuteIcon-text {
    & > *:first-child {
      color: white;
    }
  }
  .CuteIcon-secondary {
    & > *:first-child {
      color: var(--dm_secondary);
    }
  }

  .CuteIcon-neutral {
    & > *:first-child {
      color: var(--dm_neutral);
    }
  }

  .CuteIcon-primary {
    & > *:first-child {
      color: var(--dm_primary);
    }
  }

  .CuteIcon-black {
    & > *:first-child {
      color: black;
    }
  }

  .CuteIcon-white {
    & > *:first-child {
      color: white;
    }
  }
}
