// ======================================================= Wrapper =======================================================

.CuteInputWrapper {
  display: inline-flex;
  flex-direction: column;
  position: relative;

  .CuteInput-message {
    font-size: var(--fontSizeSmall);
    margin-left: 10px;
    position: absolute;
    color: var(--textSecondary);
    font-size: 12px;
    bottom: -20px;
  }
  .CuteInput-label {
    position: absolute;
    z-index: 1;
    color: var(--textSecondary);
    width: fit-content;
    border-radius: 7px;
    font-size: var(--fontSizeSmall);
    margin-left: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1px;
    top: -8px;
    background-color: var(--background);
    font-size: 11px;
  }

  .CuteButton {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.CuteInput {
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: transparent;
}

.CuteInput-square {
  border-radius: 0 !important;
  .CuteButton {
    border-radius: 0 !important;
  }
}

// ======================================================= Icons ============================================================

.CuteInput-iconStart {
  .CuteInput-row {
    display: flex;
    align-items: center;
    & > *:nth-child(1) {
      color: var(--textSecondary);
      width: 20px;
      height: 20px;
      margin-left: 8px;
    }

    & > *:nth-child(2) {
      padding-left: 7px;
    }
  }
}

.CuteInput-iconEnd {
  .CuteInput-row {
    display: flex;
    align-items: center;
    & > *:nth-child(2) {
      color: var(--textSecondary);
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }

    & > *:nth-child(1) {
      padding-right: 7px;
    }
  }
}

.CuteInput-icons {
  .CuteInput-row {
    display: flex;
    align-items: center;
    & > *:nth-child(1) {
      color: var(--textSecondary);
      width: 20px;
      height: 20px;
      margin-left: 8px;
    }
    & > *:nth-child(2) {
      padding-right: 7px;
      padding-left: 7px;
    }
    & > *:nth-child(3) {
      color: var(--textSecondary);
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }
}

// ======================================================= Sizes ============================================================

.CuteInput-small {
  font-size: var(--fontSizeSmall);
  border-radius: 5px;
  input {
    padding: 6px 10px;
  }
  .CuteInput-label {
    font-size: 11px;
  }
}

.CuteInput-medium {
  font-size: var(--fontSizeMedium);
  border-radius: 7px;
  input {
    padding: 8px 10px;
  }
}

.CuteInput-large {
  font-size: var(--fontSizeLarge);
  border-radius: 7px;
  input {
    padding: 10px;
  }
}

// ======================================================= Variants ============================================================

.CuteInput-outlined {
  outline: 1px solid;
}

.CuteInput-filled {
  outline: 1px solid transparent !important;
  border-bottom: 1.5px solid;
  border-radius: 0;
  background-color: var(--darkGlass);
  input {
    background-color: transparent;
  }
  .CuteInput-label {
    color: var(--textSecondary);
    top: -15px;
  }
  svg {
    color: var(--textSecondary);
  }
  .CuteButton {
    border-radius: 0;
  }
}

.CuteInput-underlined {
  border-radius: 0;
  border: none;
  border-bottom: 1.5px solid;
  input {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
  .CuteInput-label {
    margin-left: 0;
    padding-left: 0;
  }
  .CuteInput-message {
    margin-left: 0;
  }

  .CuteButton {
    border-radius: 0;
  }
}

.CuteInput-basic {
  border-radius: 0;
  input {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
}

// ======================================================= Colors ============================================================

.CuteInput-error {
  outline-color: var(--error) !important;
  border-color: var(--error) !important;

  input {
  }
  .CuteInput-message {
    color: var(--error) !important;
  }
  .CuteInput-label {
    color: var(--error) !important;
  }

  .CuteInput-row {
    svg {
      color: var(--error) !important;
    }
  }

  .CuteButton-text {
    background-color: transparent;
    color: var(--error) !important;
    border: 1px solid transparent;

    &:hover {
      background-color: var(--glass);

      color: var(--error) !important;
    }

    &:active {
      background-color: var(--darkGlass);
    }
  }

  .CuteButton-contained {
    background-color: var(--error) !important;
    color: white;
    border: 1px solid var(--error) !important;
  }

  .CuteButton-outlined {
    background-color: transparent;
    color: var(--error) !important;
    border: 1px solid var(--error) !important;
  }
}

.CuteInput-success {
  outline-color: var(--success) !important;
  border-color: var(--success) !important;
  input {
  }
  .CuteInput-row {
    svg {
      color: var(--success) !important;
    }
  }
  .CuteInput-message {
    color: var(--success) !important;
  }
  .CuteInput-label {
    color: var(--success) !important;
  }
  .CuteButton-text {
    background-color: transparent;
    color: var(--success) !important;
    border: 1px solid transparent;

    &:hover {
      background-color: var(--glass);

      color: var(--success) !important;
    }

    &:active {
      background-color: var(--darkGlass);
    }
  }

  .CuteButton-contained {
    background-color: var(--success) !important;
    color: white;
    border: 1px solid var(--success) !important;
  }

  .CuteButton-outlined {
    background-color: transparent;
    color: var(--success) !important;
    border: 1px solid var(--success) !important;
  }
}

.CuteInput-primary {
  outline-color: var(--divider);
  .CuteInput-label {
    color: var(--primary);
  }
}
.CuteInput-primary-focused {
  border-color: var(--primary);
  outline-color: var(--primary);
  outline-width: 1.5px;
  svg {
    color: var(--primary) !important;
  }
}

.CuteInput-secondary {
  outline-color: var(--divider);
  .CuteInput-label {
    color: var(--secondary);
  }
}
.CuteInput-secondary-focused {
  border-color: var(--secondary);
  outline-color: var(--secondary);
  outline-width: 1.5px;
  svg {
    color: var(--secondary) !important;
  }
}

.CuteInput-neutral {
  outline-color: var(--divider);
  .CuteInput-label {
    color: var(--neutral);
  }
}
.CuteInput-neutral-focused {
  border-color: var(--neutral);
  outline: 1.5px solid var(--neutral);
  outline-width: 1.5px;
  svg {
    color: var(--neutral) !important;
  }
}

// ====

.CuteInput-filled {
  outline: 1px solid transparent !important;
}

[data-theme='dark'] {
  .CuteInput-error {
    outline-color: var(--dm_error) !important;
    border-color: var(--dm_error) !important;

    input {
    }
    .CuteInput-message {
      color: var(--dm_error) !important;
    }
    .CuteInput-label {
      color: var(--dm_error) !important;
    }

    .CuteInput-row {
      svg {
        color: var(--dm_error) !important;
      }
    }

    .CuteButton-text {
      background-color: transparent;
      color: var(--dm_error) !important;
      border: 1px solid transparent;

      &:hover {
        background-color: var(--glass);

        color: var(--dm_error) !important;
      }

      &:active {
        background-color: var(--darkGlass);
      }
    }

    .CuteButton-contained {
      background-color: var(--dm_error) !important;
      color: white;
      border: 1px solid var(--dm_error) !important;
    }

    .CuteButton-outlined {
      background-color: transparent;
      color: var(--dm_error) !important;
      border: 1px solid var(--dm_error) !important;
    }
  }

  .CuteInput-success {
    outline-color: var(--dm_success) !important;
    border-color: var(--dm_success) !important;
    .CuteInput-row {
      svg {
        color: var(--dm_success) !important;
      }
    }
    .CuteInput-message {
      color: var(--dm_success) !important;
    }
    .CuteInput-label {
      color: var(--dm_success) !important;
    }
    .CuteButton-text {
      background-color: transparent;
      color: var(--dm_success) !important;
      border: 1px solid transparent;

      &:hover {
        background-color: var(--glass);

        color: var(--dm_success) !important;
      }

      &:active {
        background-color: var(--darkGlass);
      }
    }

    .CuteButton-contained {
      background-color: var(--dm_success) !important;
      color: white;
      border: 1px solid var(--dm_success) !important;
    }

    .CuteButton-outlined {
      background-color: transparent;
      color: var(--dm_success) !important;
      border: 1px solid var(--dm_success) !important;
    }
  }

  .CuteInput-primary {
    outline-color: var(--dm_divider);
    .CuteInput-label {
      color: var(--dm_primary);
    }
  }
  .CuteInput-primary-focused {
    border-color: var(--dm_primary);
    outline-color: var(--dm_primary);
    outline-width: 1.5px;
    svg {
      color: var(--dm_primary) !important;
    }
  }

  .CuteInput-secondary {
    outline-color: var(--dm_divider);
    .CuteInput-label {
      color: var(--dm_secondary);
    }
  }
  .CuteInput-secondary-focused {
    border-color: var(--dm_secondary);
    outline-color: var(--dm_secondary);
    outline-width: 1.5px;
    svg {
      color: var(--dm_secondary) !important;
    }
  }

  .CuteInput-neutral {
    outline-color: var(--dm_divider);
    .CuteInput-label {
      color: var(--dm_neutral);
    }
  }
  .CuteInput-neutral-focused {
    border-color: var(--dm_neutral);
    outline: 1.5px solid var(--dm_neutral);
    outline-width: 1.5px;
    svg {
      color: var(--dm_neutral) !important;
    }
  }
}
