.CuteLink {
  color: var(--link);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.CuteLink-underlined {
  text-decoration: underline;
}

@media (prefer-color-scheme: dark) {
  .CuteLink {
    color: var(--dm_link);
  }
}

[data-theme='dark'] {
  .CuteLink {
    color: var(--dm_link);
  }
}
