.CuteListItem {
  padding: 8px 15px;
  border-radius: 7px;
  user-select: none;
  margin-bottom: 7px;
}

.CuteListItemButton {
  &:hover {
    background-color: var(--glass);
  }

  &:active {
    background-color: var(--darkGlass);
  }
}

.CuteList-square {
  .CuteListItem {
    border-radius: 0;
  }
  .CuteListItemButton {
    border-radius: 0;
  }
}

.CuteListItem-square {
  border-radius: 0;
}

.CuteListItem-iconStart {
  display: flex;
  align-items: center;

  & > *:first-child {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
}

.CuteListItem-iconEnd {
  display: flex;
  align-items: center;

  & > *:last-child {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    min-width: 20px;
  }
}

.CuteListItem-icons {
  display: flex;
  align-items: center;
  & > *:first-child {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    min-width: 20px;
  }

  .CuteListItemChildren {
    margin-right: 10px;
  }

  & > *:last-child {
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin-left: auto;
  }
}

.CuteListItem-active {
  background-color: var(--darkGlassPrimary);
  color: var(--primary);
  font-weight: 600;
  .CuteListItemChildren {
    color: var(--primary);
  }
  &:hover {
    background-color: var(--darkGlassPrimary);
    color: var(--primary);
  }
}

.CuteListItem-activeFilled {
  background-color: var(--primary);
  color: var(--primaryText);
  & > * {
    color: var(--primaryText);
  }
  &:hover {
    background-color: var(--primaryDark);
    color: var(--primaryText);
  }
}

@media (prefers-color-scheme: dark) {
  .CuteListItemButton {
    & > * {
      color: var(--textPrimary);
    }
    .CuteListItemChildren {
      color: var(--textPrimary);
    }
    &:hover {
      color: var(--textPrimary);
    }
    &:active {
    }
  }

  .CuteListItem-active {
    color: var(--primary);
    font-weight: 600;
    .CuteListItemChildren {
      color: var(--primary);
    }
    & > * {
      color: var(--primaryLight);
    }
    &:hover {
      color: var(--primaryTooLight);
    }
  }

  .CuteListItem-activeFilled {
    background-color: var(--primaryDark);
    & > * {
      color: var(--primaryText);
    }
    .CuteListItemChildren {
      color: var(--primaryText);
    }
    &:hover {
      background-color: var(--primaryDark);
      color: var(--primaryText);
    }
  }
}

// ============

[data-theme='dark'] {
  .CuteListItemButton {
    & > * {
      color: var(--textPrimary);
    }
    .CuteListItemChildren {
      color: var(--textPrimary);
    }
    &:hover {
      color: var(--textPrimary);
    }
    &:active {
    }
  }

  .CuteListItem-active {
    color: var(--primary);
    font-weight: 600;
    .CuteListItemChildren {
      color: var(--primary);
    }
    & > * {
      color: var(--primaryLight);
    }
    &:hover {
      color: var(--primaryTooLight);
    }
  }

  .CuteListItem-activeFilled {
    background-color: var(--primaryDark);
    & > * {
      color: var(--primaryText);
    }
    .CuteListItemChildren {
      color: var(--primaryText);
    }
    &:hover {
      background-color: var(--primaryDark);
      color: var(--primaryText);
    }
  }
}

[data-theme='light'] {
  .CuteListItemButton {
    &:hover {
      background-color: var(--glass);
    }

    &:active {
      background-color: var(--darkGlass);
    }
  }
  .CuteListItem-active {
    background-color: var(--darkGlassPrimary);
    color: var(--primary);
    .CuteListItemChildren {
      color: var(--primary);
    }
    font-weight: 600;
    &:hover {
      background-color: var(--darkGlassPrimary);
      color: var(--primary);
    }
  }
  .CuteListItem-activeFilled {
    background-color: var(--primary);
    color: var(--primaryText);
    & > * {
      color: var(--primaryText);
    }
    &:hover {
      background-color: var(--primaryDark);
      color: var(--primaryText);
    }
  }
}
