.menuBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.menu {
  position: absolute;
  z-index: 10;
  margin-right: auto;
  margin-left: auto;
  border-radius: 7px;
  border: 1px solid var(--divider);
  background-color: var(--background);
  min-width: 130px;
  display: flex;
  flex-direction: column;
  padding: 7px 0;

  .menuItem {
    padding: 7px 20px;
    background-color: var(--background);
    cursor: pointer;
    user-select: none;
    color: var(--textSecondary);

    &:hover {
      background-color: var(--glass);
      color: var(--primaryDark);
    }

    &:active {
      background-color: var(--darkGlass);
    }
  }
}
