// @import '../../cutie-styles/variables';

.CuteMenu {
  position: absolute;
  z-index: 10;
  border-radius: 7px;
  border: 1px solid var(--divider);
  background-color: var(--background);
  min-width: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 7px 0;
  background-color: var(--backgroundSecondary);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  -webkit-box-shadow: var(--baseBoxShadow);
  box-shadow: var(--baseBoxShadow);
  font-family: var(--fontFamily);
  list-style: none;
  font-size: var(--fontSizeMedium);

  .CuteMenuItem {
    padding: 9px 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--textPrimary);
    font-size: var(--fontSizeSmall);

    &:hover {
      background-color: var(--glass);
    }

    &:active {
      background-color: var(--darkGlass);
    }
  }
}

.CuteMenuItem-iconStart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  & > *:first-child {
    margin-right: 10px;
    color: var(--textPrimary);
  }
}

.CuteMenuItem-iconEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  & > *:first-child {
    margin-right: 10px;
  }

  & > *:last-child {
    margin-left: auto;
    color: var(--textPrimary);
    min-width: 10px;
  }
}

.CuteMenuItem-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  & > *:first-child {
    margin-right: 10px;
    color: var(--textPrimary);
    min-width: 10px;
  }

  .CuteMenuItemChildren {
    margin-right: 10px;
  }

  & > *:last-child {
    color: var(--textPrimary);
    min-width: 10px;
    margin-left: auto;
  }
}
